.resizable.active {
  border: 1px dashed #79589f;
}

.resize-handle {
  background-color: #fff;
  border: 1px solid #79589f;
  border-radius: 1px;
  display: none;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 1000;
}

.resizable.active .resize-handle {
  display: block;
}

.resize-handle-n {
  cursor: ns-resize;
  left: calc(50% - 5px);
  top: -5px;
}

.resize-handle-ne {
  cursor: nesw-resize;
  right: -5px;
  top: -5px;
}

.resize-handle-e {
  cursor: ew-resize;
  right: -5px;
  top: calc(50% - 5px);
}

.resize-handle-se {
  bottom: -5px;
  cursor: nwse-resize;
  right: -5px;
}

.resize-handle-s {
  bottom: -5px;
  cursor: ns-resize;
  left: calc(50% - 5px);
}

.resize-handle-sw {
  bottom: -5px;
  cursor: nesw-resize;
  left: -5px;
}

.resize-handle-w {
  cursor: ew-resize;
  left: -5px;
  top: calc(50% - 5px);
}

.resize-handle-nw {
  cursor: nwse-resize;
  left: -5px;
  top: -5px;
}
