.resizable {
  position: absolute;
}

.resizable.active .resize-handle {
  visibility: visible;
  border-color: #1fc5d8;
}

.resize-handle {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 1px;
  height: 10px;
  position: absolute;
  visibility: hidden;
  width: 10px;
  z-index: 1000;
}

.resize-handle-rotate {
  background: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCIgdmlld0JveD0iMCAwIDE2IDE2Ij4KPHBhdGggZmlsbD0iIzAwMDAwMCIgZD0iTTE2IDd2LTRsLTEuMSAxLjFjLTEuMy0yLjUtMy45LTQuMS02LjktNC4xLTQuNCAwLTggMy42LTggOHMzLjYgOCA4IDhjMi40IDAgNC42LTEuMSA2LTIuOGwtMS41LTEuM2MtMS4xIDEuMy0yLjcgMi4xLTQuNSAyLjEtMy4zIDAtNi0yLjctNi02czIuNy02IDYtNmMyLjQgMCA0LjUgMS41IDUuNSAzLjVsLTEuNSAxLjVoNHoiLz4KPC9zdmc+Cg==) no-repeat;
  background-size: contain;
  fill: #1fc5d8;
  border: 0;
  color: #1fc5d8;
  cursor: pointer;
  height: 15px;
  left: calc(50% - 5px);
  top: -30px;
  width: 15px;
}

.resize-handle-n {
  cursor: ns-resize;
  left: calc(50% - 5px);
  top: -5px;
}

.resize-handle-ne {
  cursor: nesw-resize;
  right: -5px;
  top: -5px;
}

.resize-handle-e {
  cursor: ew-resize;
  right: -5px;
  top: calc(50% - 5px);
}

.resize-handle-se {
  bottom: -5px;
  cursor: nwse-resize;
  right: -5px;
}

.resize-handle-s {
  bottom: -5px;
  cursor: ns-resize;
  left: calc(50% - 5px);
}

.resize-handle-sw {
  bottom: -5px;
  cursor: nesw-resize;
  left: -5px;
}

.resize-handle-w {
  cursor: ew-resize;
  left: -5px;
  top: calc(50% - 5px);
}

.resize-handle-nw {
  cursor: nwse-resize;
  left: -5px;
  top: -5px;
}